@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button {
    border: none;
    background: none;
    outline: none;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

ul li {
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: #262626;
    transition: .3s;
}
a:hover {
    border-bottom: 2px solid #000000;
    padding-bottom: 2px;
    margin-right: 5px;
}

.btn {
    background-color: #ffffff;
    padding: 15px 35px;
    transition: .5s;
}

.btn:hover {
    opacity: 0.9;
}

i {
    margin-left: 10px;
    justify-self: center;
}

body {
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000000;
}

header {
    position: fixed;
    width: 100%;
    background: #fff;
}


.nav-bar {
    margin: 20px auto;
    font-size: 13px;
}

.nav img {
    margin-right: 20px;
}

.nav-links a {
    margin-left: 10px;
}

.showcase {
    background: url('../images/microsoft-showcase-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    color: #ffffff;
}
.showcase-content {
    width: 480px;
    margin: auto 50px;
}

.showcase-content p {
    margin: 20px 0;
    padding-bottom: 20px;
}

.showcase-content .btn a {
    font-size: 15px;
    font-weight: bold;
}

.microsoft-tools {
    margin: 50px auto;
}
.card {
    width: 300px;
    justify-self: center;
    margin-bottom: 20px;
}
.card h3 {
    margin-top: 40px;
}
.card p {
    margin: 10px 0;
}
.card a, .card i {
    color: #0067B8;
}
.card a:hover {
    border-color: #0067B8;
}
.card img:hover {
 opacity: 0.8;
}

.outlook {
    background: url('../images/Outlook-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    color: #000000;
}
.outlook-content {
    width: 480px;
    margin: auto 50px;
}

.outlook-content p {
    margin: 20px 0;
    padding-bottom: 20px;
}

.outlook-content .btn a {
    font-size: 15px;
    font-weight: bold;
}

.business {
    margin-top: 50px;
}

footer {
    background: #f2f2f2;
    color: #616161;
    padding-top: 50px;
}

footer .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.footer-links h3 {
    font-size: 15px;
}
.footer-links ul {
    font-size: 11px;
}
.footer-links ul a {
    color: #616161;
}
.footer-links ul a:hover {
    border-bottom: none;
    padding-bottom: none;
    margin-right: 0;
    color: #000000;
    text-decoration: underline;
}

/* Hamburger Menu */
.hamburger {
    display: none;
}

.hidden {
    display: none;
}

.menu-hidden {
    display: none;
}

.menu-block {
    display: block;
}

@media(max-width: 960px) {
    .grid {
        grid-template-columns:  1fr 1fr;
    }

    

    .business {
        text-align: center;
    }
}

@media(max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .nav-links {
        display: none;
    }

    /* Mobile Hamburger */

    .hamburger {
        display: block;
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: all 0.25s;
        position: relative;
    }

    .hamburger-top, .hamburger-middle, .hamburger-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 2px;
        background: #000;
        transform: rotate(0);
        transition: all 0.5s;
    }

    .hamburger-middle {
        transform: translateY(7px);
    }

    .hamburger-bottom {
        transform: translateY(14px);
    }

    .open {
        transform: rotate(90deg);
        transform: translateY(0px);
    }

    .open .hamburger-top {
        transform: rotate(45deg) translateY(6px) translate(6px);
    }

    .open .hamburger-middle{
        display: none;
    }

    .open .hamburger-bottom {
        transform: rotate(-45deg) translateY(6px) translate(-6px);
    }

    .hidden {
        display: block;
    }

    .mobile-menu {
        height: 100vh;
        width: 50%;
        position: absolute;
        z-index: 100;
        background: #fff;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 50px;
    }
    footer .grid {
        grid-template-columns: 1fr;
        text-align: left;
    }
}